
.flash_message {
  padding: .25em 0;
}
.flash_message:first-child {
  padding-top: 1em;
}
.flash_message:last-child {
  padding-bottom: 1em;
}
.flash_message .row {
  position: relative;
}
.flash_message .row > div:before  {
    .glyphicon;
    width: 2em;
    position: absolute;
}
.flash_message-body {
  display: block;
}

.flash_message.error {
  background-color: @brand-danger-background;
  color: @brand-danger-text;
}

.flash_message.success {
  background-color: @brand-success;
  color: white;
}

.flash_message.warning {
  background-color: @brand-warning;
  color: white;
}
