{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Maintenance - Clear My Record</title>
    {% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'intake/less/main.less' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'intake/css/cfa.css' %}">
    {% endcompress %}
{% endblock css %}
</head>
<style>
    .logo--centered {
        margin: 0 auto;
    }
</style>
{% block body %}
    {% block main %}
        <div class="text--centered slab maintenance-message">
            <p>Sorry, the page is down for maintenance at the moment.</p>
            <p>We'll look to have the site back up as soon as we can.</p>
            <p><a href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a></p>
            <div class="illustration illustration--cmr-logo-black logo--centered"></div>
        </div>
    {% endblock main %}
{% endblock body %}
