Your Clear My Record application was updated by {{org_name}}.
Updated: {{ oxford_comma(changed_fields) }}
{%- if is_old_contact_info %}
This is the last text message you will get from us at this phone number.
{%- endif %}
If you did not want this change or would like more info, please {{ org_contact_info }}
to contact {{ org_name }}.