Hi {{ name|safe }}, we got your application, 
{%- if organizations %} and sent it to {{ oxford_comma(organizations)|safe }}.{% endif %} {% for step in next_steps %}{{ step|safe }} {% endfor -%}{%- if unlisted_counties %} For {{ unlisted_counties|safe }} we'll contact you in the next week.{% endif %}
- {{ staff_name }} at Clear My Record