Hi {{ name|safe }}, thanks for applying to Clear My Record.{% for step in next_steps %} {{ step|safe }}{% endfor -%}{%- if unlisted_counties %} For {{ unlisted_counties|safe }} we'll contact you in the next week.{% endif %}
- {{ staff_name }} at Clear My Record