Hi {{ name }}, we got your application and sent it to the San Francisco Public Defender. You should get a letter in the mail from the Public Defender in 2-4 weeks.
- {{ staff_name }} at Clear My Record