<div class="data_display {% if field.is_subfield %}sub{% endif %}datum {{ field.get_html_class_name() }}">
  <div class="data_display-label">{{ field.get_display_label() }}</div>
  {%- if not field.is_empty() %}
  <div class="data_display-value">{{ field.get_display_value() }}</div>
  {%- else %}
  <div class="data_display-value empty"></div>
  {%- endif %}
</div>