<div 
{%- if form.submission %}
 data-submission-id="formsubmission-{{ form.submission.id }}"
{%- endif %} class="data_display-dataset">

  <div class="data_display-section time_place">
    <div class="data_display-row">
      {{ form.date_received }}
      {{ form.counties }}
    </div>
  </div>

  <div class="data_display-section identification">
    <div class="data_display-row name">
      {{ form.first_name }}
      {{ form.middle_name_display }}
      {{ form.last_name }}
    </div>
    <div class="data_display-row id_numbers">
      {{ form.dob_display }}
      {{ form.ssn_display }}
    </div>
  </div>

  <div class="data_display-section contact_info">
    <h3 class="data_display-section_header">Contact Information</h3>
    <div class="data_display-row">
      {{ form.contact_preferences }}
    </div>
    <div class="data_display-row devices">
      {{ form.phone_number }}
      {{ form.email }}
    </div>
    <div class="data_display-row alt_devices">
      {{ form.alternate_phone_number_display }}
    </div>
    <div class="data_display-row mailing">
      {{ form.address }}
    </div>
  </div>

  <div class="data_display-section case_status">
    <h3 class="data_display-section_header">Case Information</h3>
    <div class="data_display-stack">
      {{ form.us_citizen }}
    </div>
    <div class="data_display-stack probation_parole">
      {{ form.on_probation_parole }}
      {%- if form.on_probation_parole %}
        {{ form.where_probation_or_parole_display }}
        {{ form.when_probation_or_parole_display }}
        {{ form.finished_half_probation_display }}
        {{ form.reduced_probation_display }}
      {%- endif %}
    </div>
    {%- if 'being_charged' in form.fields %}
    <div class="data_display-stack">
        {{ form.being_charged_display }}
    </div>
    {%- endif %}
    <div class="data_display-stack">
      {{ form.serving_sentence }}
    </div>
    {%- if 'rap_outside_sf' in form.fields %}
    <div class="data_display-stack external_rap">
        {{ form.rap_outside_sf }}
        {%- if form.rap_outside_sf %}
        {{ form.when_where_outside_sf_display }}
        {%- endif %}
    </div>
    {%- endif %}
    <div class="data_display-stack">
      {{ form.has_suspended_license_display }}
    </div>
    <div class="data_display-stack">
      {{ form.owes_court_fees_display }}
    </div>
  </div>

  <div class="data_display-section financial">
    <h3 class="data_display-section_header">Financial Information</h3>
    <div class="data_display-row employment">
      {{ form.currently_employed_display }}
    </div>
    <div class="data_display-row income">
      {{ form.monthly_income_display }}
      {{ form.income_source_display }}
      {{ form.monthly_expenses_display }}
    </div>

    <div class="data_display-row household_and_benefits">
      {{ form.household_size_display }}
      {{ form.owns_home_display }}
      {{ form.on_public_benefits_display }}
    </div>
  </div>

  <div class="data_display-section meta">
    <div class="data_display-row">
      {{ form.how_did_you_hear }}
    </div>

    {%- if 'additional_information' in form.fields %}
    <div class="data_display-row">
      {{ form.additional_information }}
    </div>
    {%- endif %}
  </div>

  
  {%- include "includes/submission_display_actions.jinja" %}
  
  {%- if declaration_form %}
  {{ declaration_form.display() }}
  {%- else %}
    {%- if 'declaration_letter_intro' in form.fields %}
    <div class="data_display-section declaration_letter">
      <h3>Letter of Declaration</h3>
      <div class="data_display-row">
        {{ form.declaration_letter_intro }}
      </div>
      <div class="data_display-row">
        {{ form.declaration_letter_life_changes }}
      </div>
      <div class="data_display-row">
        {{ form.declaration_letter_activities }}
      </div>
      <div class="data_display-row">
        {{ form.declaration_letter_goals }}
      </div>
      <div class="data_display-row">
        {{ form.declaration_letter_why }}
      </div>
    </div>
    {%- endif %}
  {%- endif %}
  
</div>