<div id="{{ field.get_html_class_name() }}" class="{% if field.is_subfield %}sub{% endif %}field {{ field.get_html_class_name() }}
  {%- if field.warnings %} warnings{% endif %}
  {%- if field.errors %} errors{% endif %}">
  {% if not field.is_subfield %}
    {%- include "formation/messages_list.jinja" %}
  {% endif %}
  <label class="field-wrapping_label">
    <span class="field-display_text">
      {{ field.label }}
      {%- if field.optional %}
      <span class="field-optional">(optional)</span>
      {%- endif %}
    </span>
    {%- if field.help_text %}
    <span class="field-help_text">
      {{ field.help_text }}
    </span>
    {%- endif %}
    <span class="field-input_wrapper">
      {%- block input_widget %}
      <input type="text" name="{{ field.get_input_name() }}" value="
        {%- if field.get_current_value() != None -%}
          {{ field.get_current_value() }}
        {%- endif -%}
      " autocomplete="
        {%- if field.get_autocomplete_type() != None -%}
          {{ field.get_autocomplete_type() }}
        {%- endif -%}
      ">
      {%- endblock input_widget %}
    </span>
  </label>
</div>