[run]
source =
	project
	intake
	user_accounts
	formation
omit = 
	*/tests/*
	project/settings/*
	project/heroku_wsgi.py
	project/wsgi.py
	intake/translators/clean_slate.py
	*/migrations/*
	intake/views/session_view_base.py
	intake/views/application_form_views.py