# Config file for automatic testing at travis-ci.org
language: python
python:
  - "3.5"
before_install:
  - nvm install 6.5
install:
  - npm install
  - pip install -r requirements/ci.txt
  - python ./manage.py collectstatic --noinput
env:
  - DJANGO_SETTINGS_MODULE='project.settings.ci' DELUXE_TEST=1 SECRET_KEY='not so secret key'
addons:
  postgresql: "9.4"

script:
  - pep8
  - make test.coverage.keepdb
  - ./manage.py behave --keepdb
after_success:
  - codeclimate-test-reporter
notifications:
    slack: cfa:CYBv6gMC0oGtY1wwI6ZTfldS
