language: python
python:
  - "3.6"
before_install:
- unset _JAVA_OPTIONS
cache:
  pip: true
  directories:
  - node_modules
install:
- npm install
- pip install -r requirements/ci.txt
env:
- DJANGO_SETTINGS_MODULE='project.settings.ci' DELUXE_TEST=1 SECRET_KEY='not so secret
  key'
addons:
  postgresql: '9.4'
before_script:
- psql -c 'create database intake;' -U postgres
- python ./manage.py migrate
- python ./manage.py load_essential_data
- python ./manage.py new_fixtures
- python ./manage.py collectstatic --noinput
- python ./manage.py compress --engine jinja2 --extension jinja
script:
- "./manage.py new_fixtures"
- make test.everything
after_success:
- codeclimate-test-reporter
notifications:
  slack:
    rooms:
      secure: iyasTR38IRYcg+D4s/jxHsNKyqUPsuLObhKMujNAf8GZfaeRT/BsoaBgPSpTigkhc5IZR+4yAYmVHMcDIJPPR/1j/iCfr64PXOLJco60VHimwHvykg3v2Kxv81YAfCkToRuSyOTur2YCiDG6Jef64TUiX+RBkm27gBDusdgs8Nxufr3OK998OsLgahAE7XyS91Q57bii1p12h1YRAh6nnjj4bMoDYuUsxeowOmBYmK0qHaP21+zmm5qGuCnkxlF2/6AQyceq3g0wUGd8Y+jc44VDbDqK34+OhKzmBLNAJvpnC82wyXVN4/MQNm3WbcKozXtsvxBH9bd3rhLttLHfTUCUTkbkyRX2iMnP1LGAbyJ0KNL7j8bb5sss0iqUlb51rahetkkplut+MSju7mi0mRh3AFLdu72YGv0YSPIjJ1pT52EDpSB+DZ6Vsrq422Wg5xxzsf1PkF/HkwTvCrkA0wG3+KKV1ydnkRToP3yU4F+eLF2XXVIbx1DTQXnVaTxE8l1gkwTBq5KMcQP8YlZcFI1E4oonjYuydHyJQ0q3XK9g15GcoSNhA6DStLhQ6mAXnfTQXKX6YslykIU/eRKtJWZ91BVs63vj8UT6u5f38jVsYC8MTo5UOWwlh9dO5QIYlBZ9oK+7MyjXq9Ge7H0l1PYSoanDR2fKBEwajyfRQ9M=
    on_failure: always
    on_success: never
