# Config file for automatic testing at travis-ci.org
language: python
python:
  - "3.5"
install: pip install -r requirements/ci.txt
env:
  - DJANGO_SETTINGS_MODULE='project.settings.ci' DELUXE_TEST=1
addons:
  postgresql: "9.4"

before_script: python ./manage.py collectstatic --noinput
script:
  - pep8
  - make test.coverage.keepdb
  - ./manage.py behave --keepdb
after_success:
  - codeclimate-test-reporter
notifications:
    slack: cfa:CYBv6gMC0oGtY1wwI6ZTfldS
