<form action="{% url 'clips-update' object.pk %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Update" />
</form>

<table>
{% for row in object.run %}<tr>
  {% for column in row %}
    <td>{% if '\n' in column %}
      <pre>{{ column }}</pre>
    {% else %}
    {{ column }}
    {% endif  %}</td>
  {% endfor %}
</tr>{% endfor %}
</table>

<form action="{% url 'clips-delete' object.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Hide this query" />
</form>
