.illustration {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.illustration--cfa-logo {
  @include retina-bg(/static/intake/img/cfa_logo, 100px 41px); 
  margin-left: 0;
  width: 100px;
  height: 41px;
}

.illustration--cfa-logo-color {
  @include retina-bg(/static/intake/img/cfa_logo_color, 100% auto);
  width: 100%;
  height: 200px;
  opacity: .5;
}


// .illustration--success {
//   width: 45px;
//   height: 55px;
//   @include retina-bg(/static/intake/img/illustration_success, 100% auto);
// }


.illustration--partner-interface {
  @include retina-bg(/static/intake/img/partner-interface, 100% auto);
  width: 553px;
  height: 426px;
}
.illustration--alameda {
  @include retina-bg(/static/intake/img/alameda_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--contra-costa {
  @include retina-bg(/static/intake/img/contra_costa_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--fresno {
  @include retina-bg(/static/intake/img/fresno_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--san-diego {
  @include retina-bg(/static/intake/img/san_diego_seal, 100% auto);
  width: 86px;
  height: 86px;
}


.illustration--san-francisco {
  @include retina-bg(/static/intake/img/san_francisco_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--santa-barbara {
  @include retina-bg(/static/intake/img/santa_barbara_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--santa-clara {
  @include retina-bg(/static/intake/img/santa_clara_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--santa-cruz {
  @include retina-bg(/static/intake/img/santa_cruz_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--solano {
  @include retina-bg(/static/intake/img/solano_seal, 100% auto);
  width: 86px;
  height: 86px;
}

.illustration--ventura {
  @include retina-bg(/static/intake/img/ventura_seal, 100% auto);
  width: 86px;
  height: 86px;
}
