.template--benefitscal {
  margin-bottom: 0;
  
  .slab--hero {
    @include full-bleed();
    color: #FFFFFF;
    padding: {
      top: 1em;
      bottom: 1em;
    }

    .benefitscal__bg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: shade($color-dark-grey, 80%);
      z-index: -1;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .4;
        @include retina-bg(pat_mobile, cover, jpg);
        background-color: shade($color-magenta, 30%);
        background-size: cover;
        background-position: top center;
        @include media($tablet-up) {
          @include retina-bg(pat, cover, jpg);
        }
      }
    }

    .language-picker {
      margin-bottom: 3em;
    }

    .language-picker__choice {
      display: inline-block;
      margin-right: 1em;
      font-size: $font-size-small;
      color: $color-background;
    }

    h1, .text--small {
      max-width: 40rem;
    }

    .select {
      display: block;
      border-radius: $border-radius;
      &:before {
        border: 1px solid #fff;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: #fff;
      }

      @include media($tablet-up) {
        display: inline-block;
        margin-right: -.2em;
        z-index: 0;
        &:before {
          border-radius: 0;
        }
      }
    }

    .select__element {
      width: 100%;
      font-size: $font-size-normal;
      border: 1px solid #fff;
      border-bottom: 2px solid $color-tan;

      &:focus {
        border-color: $color-teal;
      }

      @include media($tablet-up) {
        min-width: 17em;
      }
    }

    .button--cta {
      @include media($tablet-up) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .text--small {
      margin-top: 2em;
      margin-bottom: 4em;
      color: $color-background;
    }

    @include media($mobile-up) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: $site-margins/2;
      left: $site-margins/2;
      min-height: 32em;

      @include media($tablet-up) {
        right: $site-margins;
        left: $site-margins;
      }
      .main-content {
        position: absolute;
        top: 50%;
        margin-top: -7em;
      }
    }

  }
}