.template--dashboard {
  font-size: $font-size-small;

  .page-wrapper, .main-footer {
    overflow: auto;
    min-width: $site-max-width;
  }

  .dashboard-main--empty {
    margin-top: 10em;
    text-align: center;
  }
  
  .grid, .toolbar {
    max-width: none;
  }

  .main-header {
    border-bottom: 0;
  }

  .dashboard-toolbar {
    padding: 3em 0;
  }
}
