{% extends "forms/county_form.jinja" %}

{% block county_scope %}
{% endblock county_scope %}
  
  {% block form_content %}

  {{ form.render() }}
<button type="submit">{{ _("Apply") }}</button>
{% endblock form_content %}