{% extends "forms/county_form.jinja" %}


{%- block header_title -%}
Review Your Letter
{%- endblock header_title -%}

{% block content %}
<section class="application_form content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col_centered">
        <p><strong>This is your letter for the judge. Does it look okay?</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col_centered">

<form class="county_form" action="" method="POST" accept-charset="utf-8">
  {#
    Non field errors are not included here because they will be
    displayed as flash messages in the header.
  #}
  
  {% include "includes/csrf_field.jinja" %}
  
  {{ form.display() }}

  <div class="form-submit_choices">
  <button class="btn-default" type="submit" name="submit_action" value="edit_letter">
    <span class="glyphicon glyphicon-arrow-left"></span>
    {{ _("Edit Letter") }}
  </button>
  <button class="btn-success" type="submit" name="submit_action" value="approve_letter">
    <span class="glyphicon glyphicon-ok"></span>
    {{ _("Finish Application") }}
  </button>


  </div>
</form>

      </div>
    </div>
  </div>
</section>

{% endblock content %}
