<form class="sanfrancisco" action="/sanfrancisco/" method="POST" accept-charset="utf-8">

  {% include "includes/csrf_field.html" %}
	<div class="field field-checkbox_options">	    
	<legend>
    How would you like us to contact you?
  </legend>
	<span class="field-help_text">
		Code for America will use this to update you about your application.
	</span>
		
	<ul class="checkbox_options options_list">
      <li>
      	<label class="field-option_label">
	        <input type="checkbox" name="prefers_email" value="yes">
	        <span class="option-display_text">
		        Email
	        </span>
      	</label>
      </li>
      <li>
      	<label class="field-option_label">
	        <input type="checkbox" name="prefers_sms" value="yes">
	        <span class="option-display_text">
		        Text message
	        </span>
      	</label>
      </li>
      <li>
      	<label class="field-option_label">
	        <input type="checkbox" name="prefers_voicemail" value="yes">
	        <span class="option-display_text">
		        Voicemail
	        </span>
      	</label>
      </li>
      <li>
      	<label class="field-option_label">
	        <input type="checkbox" name="prefers_snailmail" value="yes">
	        <span class="option-display_text">
		        Paper mail
	        </span>
      	</label>
      </li>
    </ul>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your first name?
			</span>
			<input type="text" name="first_name" value="">
		</label>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your middle name?
				<span class="field-optional">(optional)</span>
			</span>
			<input type="text" name="middle_name" value="">
		</label>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your last name?
			</span>
			<input type="text" name="last_name" value="">
		</label>
	</div>

	<div class="field phone_number">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your phone number?
				<span class="field-optional">(optional)</span>
			</span>
			<span class="field-help_text">
				Code for America and the public defender will use this to contact you about your application.
			</span>
			<input type="text" name="phone_number" value="">
		</label>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your email?
				<span class="field-optional">(optional)</span>
			</span>
			<span class="field-help_text">
				For example "yourname@example.com"
			</span>
			<input type="text" name="email" value="">
		</label>
	</div>

	<div class="field dob">
		<fieldset>

	    <legend>
		    What is your date of birth?
	    </legend>

	    <span class="field-help_text">
		    For example: 4/28/1986
	    </span>

	    <div class="subfield-row">
	      <div class="subfield dob_month">
					<label class="field-wrapping_label">
						<span class="field-display_text">
							Month
						</span>
		        <input name="dob_month" pattern="0?[1-9]|1[012]" type="number" min="1" max="12">
					</label>
	      </div>
	      <div class="subfield dob_day">
					<label class="field-wrapping_label">
						<span class="field-display_text">
							Day
						</span>
		        <input name="dob_day" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]" type="number" min="1" max="31">
					</label>
	      </div>
	      <div class="subfield dob_year">
					<label class="field-wrapping_label">
						<span class="field-display_text">
							Year
						</span>
		        <input name="dob_year" pattern="[0-9]{4}" type="number" min="1900" max="2016">
					</label>
	      </div>
	    </div>
	  </fieldset>
	</div>

	<div class="field ssn">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your Social Security Number?
			</span>
			<span class="field-help_text">
				The public defender's office will use this to get your San Francisco RAP sheet and find any convictions that can be reduced or dismissed.
			</span>
			<input type="text" name="ssn" value="">
		</label>
	</div>

	<div class="field field-radio_options">	    
	<legend>
	    Are you a U.S. citizen?
    </legend>
	<span class="field-help_text">
		The public defender handles non-citizen cases differently and has staff who can help with citizenship issues.
	</span>
		
	 <ul class="radio_options options_list">
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="us_citizen" value="yes">
	        Yes
        </label>
      </li>
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="us_citizen" value="no">
	        No
        </label>
      </li>
    </ul>
	</div>


	<div class="field address">
		<fieldset>
		<div class="subfield">
			<label class="field-wrapping_label">
				<span class="field-display_text">
					What is your mailing address?
				</span>
				<span class="field-help_text">
					The public defender will need to send you important papers.
				</span>
				<input type="text" name="address_street" value="">
			</label>
	    </div>

			<div class="subfield-row">
		    <div class="subfield address_city">
					<label class="field-wrapping_label">
						<span class="field-display_text">
							City
						</span>
						<input type="text" name="address_city" value="">
					</label>
		    </div>

		    <div class="subfield address_state">
					<label class="field-wrapping_label">
						<span class="field-display_text">
							State
						</span>
						<input type="text" name="address_state" value="CA">
					</label>
		    </div>

		    <div class="subfield address_zip">
					<label class="field-wrapping_label">
						<span class="field-display_text">
							Zip code
						</span>
						<input type="text" name="address_zip" value="">
					</label>
		    </div>
			</div> <!-- end row -->

	  </fieldset>
	</div>

	<div class="field">	    
		<legend>
	    Are you on probation or parole?
    </legend>
			
	  <ul class="radio_options options_list">
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="on_probation_parole" value="yes">
	        Yes
        </label>
      </li>
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="on_probation_parole" value="no">
	        No
        </label>
      </li>
    </ul>
	</div>


	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				Where is your probation or parole?
			</span>
			<input type="text" name="where_probation_or_parole" value="">
		</label>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				When does your probation or parole end?
			</span>
			<input type="text" name="when_probation_or_parole" value="">
		</label>
	</div>


	<div class="field">	    
		<legend>
	    Are you currently serving a sentence?
    </legend>
		 <ul class="radio_options options_list">
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="serving_sentence" value="yes">
	        Yes
        </label>
      </li>
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="serving_sentence" value="no">
	        No
        </label>
      </li>
    </ul>
	</div>

	<div class="field">	    
		<legend>
	    Are you currently being charged with a crime?
    </legend>
		 <ul class="radio_options options_list">
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="being_charged" value="yes">
	        Yes
        </label>
      </li>
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="being_charged" value="no">
	        No
        </label>
      </li>
    </ul>
	</div>

	<div class="field">	    
		<legend>
	    Have you ever been arrested or convicted outside of San Francisco?
    </legend>
		 <ul class="radio_options options_list">
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="rap_outside_sf" value="yes">
	        Yes
        </label>
      </li>
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="rap_outside_sf" value="no">
	        No
        </label>
      </li>
    </ul>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				When and where were you arrested or convicted outside of San Francisco?
			</span>
			<input type="text" name="when_where_outside_sf" value="">
		</label>
	</div>


	<div class="field">	    
		<legend>
	    Are you currently employed?
    </legend>
			<span class="field-help_text">
				The Clean Slate program is free for you, but the public defender uses this information to get money from government programs.
			</span>
		 <ul class="radio_options options_list">
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="currently_employed" value="yes">
	        Yes
        </label>
      </li>
      <li>
	      <label class="field-option_label">
	        <input type="radio" name="currently_employed" value="no">
	        No
        </label>
      </li>
    </ul>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				What is your monthly income?
			</span>
			<span class="field-help_text">
				The Clean Slate program is free for you, but the public defender uses this information to get money from government programs.
			</span>
			<input type="text" name="monthly_income" value="">
		</label>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				How much do you spend each month on things like rent, groceries, utilities, medical expenses, or childcare expenses?
			</span>
			<span class="field-help_text">
				The Clean Slate program is free for you, but the public defender uses this information to get money from government programs.
			</span>
			<input type="text" name="monthly_expenses" value="">
		</label>
	</div>

	<div class="field">
		<label class="field-wrapping_label">
			<span class="field-display_text">
				How did you hear about this program or website?
				<span class="field-optional">(optional)</span>
			</span>
			<input type="text" name="how_did_you_hear" value="">
		</label>
	</div>
	<div class="note">
		<p>
			By clicking “Submit”,  you are:
		</p>
		<ol>
			<li>Giving the San Francisco Public Defender's office permission to get your San Francisco RAP Sheet.</li>
			<li>Acknowledging that filling out this form is not a guarantee that a public defender will represent you.</li>
		</ol>
	</div>

	<button type="submit">Submit</button>
</form>