.county-seal-list {
  text-align: center;
  max-width: 35em;
  margin: 0 auto;
}
.county-seal-list + p {
	text-align: center;
}

.county-seal {
  margin: 0 0.4em 0.4em 0.4em;
  display: inline-block;
  text-align: center;
}