.sunset-notice-alert {
  background-color: #E5F2FD;
  padding: 15px 10px;
  &__icon {
    position: absolute;
    color: #1380D0;
    font-size: 32px;
    display: none;
    @include media($tablet-up) {
      display: block;
    }
  }

  &__details {
    margin-bottom: 0;
    margin-left: 0;

    @include media($tablet-up) {
      margin-left: 45px;
    }
  }
}