{% extends "admin_base.jinja" %}
{#
Unique context for this template:
	- reset_user
	- form
	- token_fail
#}

{% block content %}
<section>
    <div class="container">
        <div class="row">
        {% if token_fail %}
        <h1>Broken link</h1>
    {% else %}
        <h1>
        Change Password for
        {% if user.is_authenticated() %}
            {{ user.email }}
        {% else %}{% if reset_user %}
            {{ reset_user.email }}
        
        {% endif %}{% endif %}
        </h1>
    {% endif %}

    {% if token_fail %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url('account_reset_password') }}">new password reset</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
              {% include "includes/csrf_field.jinja" %}
                {{ form.as_p() }}
                <input type="submit" name="action" value="Change password"/>
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
            
        </div>
    </div>
</section>
{% endblock content %}
