{#
Unique context for this template:
	- reset_user
	- form
	- token_fail
#}

{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
		{% if token_fail %}
    	<h1>{% trans "Broken link" %}</h1>
    {% else %}
    	<h1>
    	{% trans "Change Password for" %}
    	{% if user.is_authenticated %}
    		{{ user.email }}
    	{% else %}{% if reset_user %}
    		{{ reset_user.email }}
    	
    	{% endif %}{% endif %}
    	</h1>
    {% endif %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
