{% extends "admin_form_base.jinja" %}

{%- block header_title -%}
Invite a new user
{%- endblock header_title -%}
{% block form %}
<form id="invite-form" method="POST" action="{{ url('invitations:send-invite') }}">
  <p>Please add an email and organization below. The user will recieve an email with instructions.</p>
  {% include "includes/csrf_field.jinja" %}
  <div class="form-group">
    {{ form.email.errors }}
    {{ form.email.label_tag() }}
    {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.organization.errors }}
    {{ form.organization.label_tag() }}
    {{ form.organization }}
  </div>
  <input type="submit" value="Invite" class="btn btn-primary generic-ajax-submit">  
</form> 
{% endblock form %}