{% load i18n %}

<h4 class="title">{% trans "Invite" %}</h4>
{% if success_message %}
<span class="alert alert-success">
    {{ success_message }}
</span>
{% endif %}
<span class="alert alert-info">{% trans "Please add an email and organization below. The user will recieve an email with instructions." %}</span>

<form id="invite-form" method="POST" action="{% url 'invitations:send-invite' %}">
  {% csrf_token %}
  <div class="form-group">
    {{ form.email.errors }}
    {{ form.email.label_tag }}
    {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.organization.errors }}
    {{ form.organization.label_tag }}
    {{ form.organization }}
  </div>
  <input type="submit" value="Invite" class="btn btn-primary generic-ajax-submit">  
</form>  