{% extends "admin_form_base.jinja" %}
{% import 'macros.jinja' as macros %}
{% block head_title %}Sign In{% endblock %}
{%- block header_title -%}
Sign In
{%- endblock header_title -%}
{% block form %}
      <form class="login" method="POST" action="{{ url('account_login') }}">
        {% include "includes/csrf_field.jinja" %}
		{{ macros.render_form_fields(form) }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{{ url('account_reset_password') }}">Forgot Password?</a>
        <button class="primaryAction" type="submit">Sign In</button>
      </form>
{% endblock form %}
