{% extends "public_base_single_column.jinja" %}
{% block head_title %}Password Reset Sent{% endblock %}
{%- block header_title -%}
We've sent you an email.
{%- endblock header_title -%}
{% block column_content %}
  <p>We've sent you an email with a link to reset your password. If you don't see it within a few minutes, let us know.</p>
{% endblock column_content %}