{% extends "admin_form_base.jinja" %}
{% import 'macros.jinja' as macros %}
{% block head_title %}Reset password{% endblock %}
{%- block header_title -%}
Request a password reset
{%- endblock header_title -%}
{% block form %}
  <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

  <form method="POST" action="{{ url('account_reset_password') }}" class="password_reset">
      {% include "includes/csrf_field.jinja" %}
		{{ macros.render_form_fields(form) }}
		<p>
	      <input class="btn btn-lg btn-primary" type="submit" value="Send a Password Reset Email" />
		</p>
  </form>
{% endblock form %}