{% extends "admin_form_base.jinja" %}
{% block head_title %}Sign up{% endblock %}
{%- block header_title -%}
Sign up
{%- endblock header_title -%}
{% block form %}
	<form class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}">

		{% include "includes/csrf_field.jinja" %}
		{{ form.as_p() }}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<button type="submit">Sign Up</button>
	</form>
{% endblock form %}