{% extends "base.jinja" %}

{% block content %}
<h1>Sign up</h1>

<p>Already have an account? Then please <a href="{{ url('account_login') }}">sign in</a>.</p>

<form class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}">
  
	{% include "includes/csrf_field.jinja" %}
  {{ form.as_p() }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Sign Up</button>
</form>

{% endblock content %}