<div class="app-index-nav-bar">
  <ul>
  {% for tab in app_index_tabs %}
    <li role="presentation"{% if tab.is_active %} class="active" {% endif %}>
      <a href="{{ tab.url }}">{{ tab.label }} ({{ tab.count }})</a>
    </li>
    {% endfor %}
  </ul>
  <hr>
</div>

<div class="row">
{# TODO: move to nav template #}
<div class="col-xs-12 col-sm-6 col-md-6">
    <h1>{{ app_index_scope_title }}</h1>
</div>
</div>
