{%- if request.user.is_staff %}
{%- else %}
  <div class="app-index-nav-bar">
    <ul>
      {%- if request.path == url('intake-app_unread_index') %}
      <li role="presentation" class="active">
        <a href="{{
          url('intake-app_unread_index')
        }}">Unread ({{ unreads }})</a>
      </li>
      <li role="presentation">
        <a href="{{
            url('intake-app_needs_update_index')
          }}">Need Status Update ({{ needs_update }})</a>
      </li>
      <li role="presentation">
        <a href="{{
            url('intake-app_index')
          }}">All ({{ all }})</a>
      </li>
      {% elif request.path == url('intake-app_needs_update_index') %}
      <li role="presentation">
        <a href="{{
          url('intake-app_unread_index')
        }}">Unread ({{ unreads }})</a>
      </li>
      <li role="presentation" class="active">
        <a href="{{
            url('intake-app_needs_update_index')
          }}">Need Status Update ({{ needs_update }})</a>
      </li>
      <li role="presentation">
        <a href="{{
            url('intake-app_index')
          }}">All ({{ all }})</a>
      </li>
      {% else %}
      <li role="presentation">
        <a href="{{
          url('intake-app_unread_index')
        }}">Unread ({{ unreads }})</a>
      </li>
      <li role="presentation">
        <a href="{{
            url('intake-app_needs_update_index')
          }}">Need Status Update ({{ needs_update }})</a>
      </li>
      <li role="presentation" class="active">
        <a href="{{
            url('intake-app_index')
          }}">All ({{ all }})</a>
      </li>
      {% endif %}
    </ul>
    <hr>
  </div>
{% endif %}
