<div class="app-index-nav-bar">
  <ul>
  {% for tab in app_index_tabs %}
    <li role="presentation"{% if tab.is_active %} class="active" {% endif %}>
      <a href="{{ tab.url }}">{{ tab.label }} ({{ tab.count }})</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="row">
  <div class="col-xs-12 app-index-title">
      <h1>{{ app_index_scope_title }}</h1>
      {%- if print_all_link %}
      <a href="{{ print_all_link }}" class="btn btn-large btn-default print-all"><span class="glyphicon glyphicon-print"></span> Print All</a>
      {%- endif %}
      {%- if csv_download_link %}
      <a href="{{ url('intake-csv_download') }}" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-download"></span>
        Export all
      </a>
      {%- endif %}
  </div>
</div>
