<div class="next_steps">
{%- for organization in organizations %}
  <p class="next_step {{ organization.slug }}">
    {%- if organization.county.slug != 'not_listed' %}
      To help you with {{ organization.county.name }} County, we sent your application to the
      <a href="{{ organization.get_absolute_url() }}">{{ organization.name }}</a>.
      {{ linkify(organization.long_confirmation_message) }}
    {% endif %}
  </p>
{%- endfor %}
{%- if unlisted_counties %}
  <p class="next_step cfa">
      Next steps for {{ unlisted_counties }}:
      We will contact you in the next week with information on how to clear your record in {{ unlisted_counties }}
  </p>
{% endif %}
</div>