        {% if request.user.is_authenticated() %}
        <div class="auth-notice authenticated">
          <span class="message">Signed in as</span>
          <span class="username">{{ request.user.profile.get_display_name() }}</span>
          <a href="{{ url('account_logout') }}" class="btn btn-sm logout_link">Sign out</a>
        </div>
        {% endif %}