<ul class="county-seal-list">
  <li class="county-seal">
    <div class="illustration illustration--san-diego"></div>
    <p class="text--small">San Diego</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--san-francisco"></div>
    <p class="text--small">San Francisco</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--alameda"></div>
    <p class="text--small">Alameda</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--solano"></div>
    <p class="text--small">Solano</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--contra-costa"></div>
    <p class="text--small">Contra Costa</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--fresno"></div>
    <p class="text--small">Fresno</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--santa-barbara"></div>
    <p class="text--small">Santa Barbara</p>
  </li>
  <li class="county-seal">
    <div class="illustration illustration--santa-clara"></div>
    <p class="text--small">Santa Clara</p>
  </li>
</ul>