
    {% block flash_messages %}
    <div class="flash_messages">
      {%- if messages -%}
      {%- for message in messages -%}
        <div class="flash_message {{ message.tags }}">{{ message }}</div>
      {%- endfor %}
      {%- endif %}
    </div>
    {% endblock %}