    <header class="header">

      <div class="top_bar">
	      <div class="container">
	      	<div class="row">
            <h2 class="site_name">Clear My Record</h2>
     				{% include "includes/auth_bar.jinja" %}
	      	</div>
	      </div>
      </div> <!-- end top_bar -->

    {% include "includes/flash_messages.jinja" %}
    </header>
