    <header class="header">

      <div class="top_bar">
      {% include "includes/auth_bar.jinja" %}
      </div> <!-- end top_bar -->

    {% include "includes/flash_messages.jinja" %}
    </header>
