<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{ csrf_token }}">

{% block social_meta %}
	{% include "includes/social_meta.jinja" %}
{% endblock social_meta %}

<title>{%- block head_title -%}
{%- if page_title -%}
{{- page_title -}}
{%- else -%}
{{ content.metadata_title }}
{%- endif -%}{%- endblock head_title -%}
</title>

<link rel="apple-touch-icon" sizes="57x57" href="{{ static('favicons/apple-touch-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ static('favicons/apple-touch-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ static('favicons/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ static('favicons/apple-touch-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ static('favicons/apple-touch-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ static('favicons/apple-touch-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ static('favicons/apple-touch-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ static('favicons/apple-touch-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ static('favicons/apple-touch-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ static('favicons/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static('favicons/icon-32x32.png')  }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ static('favicons/icon-96x96.png')  }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ static('favicons/icon-16x16.png')  }}">
<link rel="manifest" href="{{ static('favicons/manifest.json') }}">
<meta name="msapplication-TileColor" content="#069ED6">
<meta name="msapplication-TileImage" content="{{ static('favicons/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#069ED6">
<meta name="msapplication-config" content="{{ static('favicons/browserconfig.xml') }}" />