    <header class="header">

      <div class="top_bar">
	      <div class="container">
	      	<div class="row">
     				{% include "includes/auth_bar.jinja" %}
	      	</div>
	      </div>
      </div> <!-- end top_bar -->

    {% include "includes/flash_messages.jinja" %}
    </header>
