<div class="application-detail-latest-status">
  <div class="col-xs-6">
    <span class="data_display-label">Current Status:</span>
    <br/>
    Transferred from {{
      transfer.status_update.application.organization.name
    }}
     by {{transfer.status_update.author.profile.name}}
  </div>
  <div class="col-xs-6">
    <span class="data_display-label">Reason:</span>
    <br/>
    {{transfer.reason}}
  </div>
</div>