<tr class="application-listing outgoing-transfer" data-key="{{ app.form_submission.id }}">
  <td>
    {# Date #}
    <a href="{{ app.form_submission.url }}">
    {{ app.form_submission.local_date_received.strftime('%-m/%-d/%y') }}
    </a>
  </td>
  <td>{# Last Name #} {{ namify(app.form_submission.last_name) }}</td>
  <td>{# First Name #} {{ namify(app.form_submission.first_name) }}</td>
  
  {%- if show_pdf %}
  <td>
    {#- Intake PDF #}
    <a href="{{ 
      url('intake-filled_pdf',
        submission_id=app.form_submission.id
        ) }}" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-file"></span>
        PDF
      </a>
  </td>
  {%- endif %}
  <td>
    {#- Status #}
    {%- if app.latest_status %}
          {{ app.latest_status.status_type }} 
          out
    {%- else -%}
      New
    {%- endif %}
  </td>
  <td>
    {#- Latest Status Update #}
    {%- if app.latest_status -%}
      {{- humanize.naturaltime(app.latest_status.created) -}}
    {%- else -%}
      ------------
    {%- endif -%}
  </td>
  <td>
  </td>
  <td>
    {# Actions - Print #}
    <a
      href="{{ app.form_submission.printout_url }}"
      target="_blank">
      <span class="glyphicon glyphicon-print"></span>
      Print
    </a>
  </td>
</tr>