
    {% block flash_messages %}
    <div class="flash_messages">
      {%- if messages -%}
      {%- for message in messages -%}
      <div class="flash_message {{ message.tags }}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6  col_centered">
              <span class="flash_message-body">
              {{ message }}
              </span>
            </div>
          </div>
        </div>
      </div>
      {%- endfor %}
      {%- endif %}
    </div>
    {% endblock %}