.admin {
	section.content > .container:first-child {
		padding-top: 0;
	}
	.action_bar {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}
.page_nav_header {
	margin: 0;
	font-weight: inherit;
}
ul.pagination {
	margin-top: .5em;
}
table.followups {
	font-size: 0.8em;
}
.org_tag {
	display: inline-block;
	font-size: 0.7em;
	text-transform: uppercase;
}
table.table tr > td.org_tags {
	width: 6em;
	line-height: 0.9em;
}
.notes_log {
	font-size: 0.7em;
	width: 28em;
}
td.notes_log-cell {
	padding: 0;
}
.note {
	padding: 0.25em 0;
	margin: 0.5em 0 0 0;
	border-top: 1px solid #ccc;
}
.note > * {
	display: inline-block;
	vertical-align: top;
	line-height: 1rem;
}

.note-time {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
	width: 4.4em;
}
.note-body {
	width: 13em;
	padding: 0 .35em;
}

.note-author {
	width: 4em;
}
div.note-remove > button.btn {
	font-size: 0.9em;
	color: #ccc;
	border-color: #ccc;
	padding: .2em .4em;
	margin: 0 0.4em;
	&:hover {
		color: #fff;
		border-color: @brand-danger;
		background-color: @brand-danger;
	}
	.glyphicon {
		margin: 0;
	}
}
div.create_note > button.note-show_form {
	font-size: 0.9em;
	padding: .3em .6em;
}
.note-create_form {
	input[name="body"] {
		width: 18.5em;
		font-weight: 400;
		display: inline-block;
		padding: .25em .5em;
	}
	button[type="submit"] {
		font-size: 1.1em;
		padding: .3em .6em;
	}
}