svg g.axis text {
	font-family: @font-family-sans-serif;
}

.axis.y path { stroke-width: 0; }
.axis.y line { stroke: #dfdfdf; }

rect.day_bar {
	stroke: #fff;
	stroke-width: 0.5px;
	fill: @brand-primary;
}
