{% if submissions|length > 0 -%}
Emailed {{ oxford_comma(emails) }} with a link to
  {%- if submissions|length > 1 %} apps from <{{ bundle_url}}|{{oxford_comma(submissions) }}>
  {%- else %} <{{bundle_url}}|{{ submissions[0] }}'s application>
  {%- endif %}
{%- else -%}
No unopened applications. Did not email {{ oxford_comma(emails) }}
{%- endif -%}