New submission #{{submission_count}}!
<{{ request.build_absolute_uri(
		url('intake-app_detail',
			submission_id=submission.id)
	) }}|{{ submission.get_anonymous_display() }}>
{% if submission.get_nice_contact_preferences() -%}
They want to be contacted via {{ oxford_comma(submission.get_nice_contact_preferences())}}
{% else -%}
They didn't give a contact method 
{%- endif %}