{% extends "admin_base_single_column.jinja" %}
{%- block section_class %}form{% endblock section_class -%}
{% block column_content %}
	{% block form %}
	{% endblock form %}
{% endblock column_content %}