{% extends "admin_base.jinja" %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
    {%- if request.user.is_staff %}
    <h1>All Applications</h1>
    {%- else %}
    <h1>All Applications to {{ request.user.profile.organization.name }}</h1>
    {%- endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 centered-to-header">
      <div class="applicants-search_module">
      {# replace this form (copied from tags) with one for autocomplete #}
        <form>
          <input name="q" type="text" autocomplete="off"><ul class="applicants-autocomplete_results"></ul>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    {% if perms.intake.view_application_note %}
      {% include "followup_list.jinja" %}
    {% else %}
      {% include "app_reviewer_list.jinja" %}
    {% endif %}
  </div>
  {%- if page_counter %}
  {% include "includes/results_paginator.jinja" %}
  {%- endif %}
</div>
{% endblock content %}


{% block scripts %}
{%- if ALL_TAG_NAMES %}
<script type="text/json" name="tags_json">{{ to_json(ALL_TAG_NAMES) }}</script>
{%- endif %}
{% compress 'js' %}
  <script type="text/browserify" src="{{ static('intake/js/admin_entry.js')}}"></script>
{% endcompress %}
{% endblock scripts %}

