{% extends "app_detail.jinja" %}

{%- block page_heading -%}
Application History
{%- endblock page_heading -%}

<div class="row">
  <div class="col-xs-12 col-md-10 col_centered">
    {%- block app_detail_contents -%}
    <ul class="application-events-list">
      {%- if status_updates %}
        {% for status_update in status_updates %}
          {% include "includes/application_event.jinja" %}
        {% endfor %}
      {%- else %}
        <p>New (no status updates yet)</p>
      {%- endif %}
    </ul>
    {%- endblock app_detail_contents -%}
  </div>
 </div>