{% extends "app_detail.jinja" %}

{%- block page_heading -%}
Application History
{%- endblock page_heading -%}


{%- block app_detail_contents -%}
<ul class="application-events-list">
  {% for status_update in status_updates %}
    {% include "includes/application_event.jinja" %}
  {% endfor %}
</ul>
{%- endblock app_detail_contents -%}