
<form class="application_edit_form" action="" method="POST" accept-charset="utf-8">
  {% include "includes/csrf_field.jinja" %}
  {{ form }}
  <button type="submit">
    Save changes
  </button>
</form>
