{% extends "admin_base.jinja" %}

{% block content %}
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col_centered">
        {% include "includes/app_detail_navigation.jinja" %}
      </div>
    </div>
    <div class="row">
      <div class="action_bar col-xs-12 col-md-10 col_centered">
        <h1>
        {%- block page_heading -%}
          Application Details
          {% include "app_detail_action_bar.jinja" %}  
        {%- endblock page_heading -%}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="app_detail-data_display col-xs-12 col-md-10 col_centered">
      {%- block app_detail_contents -%}
        {% if latest_status %}
          <div>
            Current Status:
            <br/>
            {{latest_status.status_type.display_name}}
            <br/>
            Additional Info:
            <br/>
            {{latest_status.additional_information}}
            <br/>
            {% if latest_status.next_steps %}
              Applicant's Next Steps:
              <br/>
              <ul>
                {% for step in latest_status.next_steps.all() %}
                  <li>{{ step.display_name }}</li>
                {% endfor %}
              </ul>
              <br/>
            {% endif %}
          </div>
        {% endif %}
      {% include "formation/intake_display.jinja" %}
      {%- endblock app_detail_contents -%}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
