{% extends "cmr_base.jinja" %}


{% block content %}
<div class="container">
  <div class="row vertical-padded">
    <div class="col-xs-12">
      {% if user.groups.filter(name='followup_staff').exists() %}
        <div class="followups-search_module">
            <input name="q" placeholder="Search all applications" type="text" autocomplete="off">
        </div>
      {% else %}
        <div class="applications-search_module">
            <input name="q" placeholder="Search all applications" type="text" autocomplete="off"><ul class="applications-autocomplete_results"></ul>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col_centered">
      {% include "includes/app_index_navigation.jinja" %}
    </div>
  </div>
  <div class="row">
    {% if user.groups.filter(name='followup_staff').exists() %}
      {% include "followup_list.jinja" %}
    {% else %}
      {% include "app_reviewer_list.jinja" %}
    {% endif %}
  </div>
  {%- if page_counter %}
  {% include "includes/results_paginator.jinja" %}
  {%- endif %}
</div>
<div class="no-footer"></div>
{% endblock content %}

{% block scripts %}
{%- if ALL_TAG_NAMES %}
<script type="text/json" name="tags_json">{{ to_json(ALL_TAG_NAMES) }}</script>
{%- endif %}
{% compress 'js' %}
  <script type="text/browserify" src="{{ static('intake/js/admin_entry.js')}}"></script>
{% endcompress %}
{% endblock scripts %}

