{% extends "cmr_base.jinja" %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>{{ count }} {{ page_heading }}</h1>
  </div>
  <div class="row">
    {% if submissions %}
    <table class="table applications_list">
    <tr>
      <th>Date</th>
      <th>First Name</th>
    </tr>
    {% for app in submissions %}
    <tr>
      <td>
        <a href="{{ url('intake-app_detail', submission_id=app.id)}}">
        {{ app.date_received }}
        </a>
      </td>
      <td>{{ app.first_name }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <h2>{{ empty_set_message }}</h2>
    {% endif %}
  </div>
</div>
{% endblock content %}