{% extends "public_base.jinja" %}
{% import 'macros.jinja' as macros %}


{%- block header_title -%}
Apply to Clear My Record
{%- endblock header_title -%}

{% block body_class -%}
public apply
{%- endblock body_class %}

{% block content %}
<section class="application_form content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col_centered">

<form class="sanfrancisco" action="" method="POST" accept-charset="utf-8">
  {#
    Non field errors are not included here because they will be
    displayed as flash messages in the header.
  #}
  
  {% include "includes/csrf_field.jinja" %}
  
  {% block form_content %}
  {{ macros.checkbox_options_field(form.fields.contact_preferences) }}
  {{ macros.basic_field(form.fields.first_name) }}
  {{ macros.basic_field(form.fields.middle_name, optional=True) }}
  {{ macros.basic_field(form.fields.last_name) }}

  {{ macros.basic_field(form.fields.phone_number) }}
  {{ macros.basic_field(form.fields.email) }}
  
  {{ macros.dob_field(form.fields.dob) }}

  {{ macros.basic_field(form.fields.ssn) }}
  {{ macros.radio_select_field(form.fields.us_citizen) }}

  {{ macros.address_field(form.fields.address) }}

  {{ macros.radio_select_field(form.fields.on_probation_parole) }}
  {{ macros.basic_field(form.fields.where_probation_or_parole) }}
  {{ macros.basic_field(form.fields.when_probation_or_parole) }}
  {{ macros.radio_select_field(form.fields.serving_sentence) }}
  {{ macros.radio_select_field(form.fields.being_charged) }}
  {{ macros.radio_select_field(form.fields.rap_outside_sf) }}
  {{ macros.basic_field(form.fields.when_where_outside_sf) }}

  {{ macros.radio_select_field(form.fields.currently_employed) }}
  {{ macros.basic_field(form.fields.monthly_income) }}
  {{ macros.basic_field(form.fields.monthly_expenses) }}

  {{ macros.basic_field(form.fields.how_did_you_hear, optional=True) }}

  <div class="note">
    <p>
      By clicking "Apply",  you are:
    </p>
    <ol>
      <li>Giving the San Francisco Public Defender's office permission to get your San Francisco RAP Sheet.</li>
      <li>Acknowledging that filling out this form is not a guarantee that a public defender will represent you.</li>
    </ol>
  </div>
  
  <button type="submit">Apply</button>
  {% endblock form_content %}

</form>

      </div>
    </div>
  </div>
</section>

{% endblock content %}