<!DOCTYPE html>
<html>
  <head>
    {% include "includes/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ static_url }}css/main.css">
  </head>
  <body
  {%- if body_class %} class="{{body_class}}"{%- endif %}>
    {% block body %}
    {% include "includes/header.html" %}

    {% block main %}{% block content %}{% endblock %}{% endblock %}
    {% endblock body %}
    {% block scripts %}
      <script>
      {% block js_variables %}
      {% endblock js_variables %}
      </script>
    {% endblock %}

  {% include "includes/google_analytics.html" %}
  {% include "includes/intercom.html" %}

</body>
</html>