{% extends "base.jinja" %}

    {% block css %}
    {% compress 'css' %}
      <link rel="stylesheet" type="text/less" href="{{ static('intake/less/main.less') }}">
    {% endcompress %}
    {% endblock css %}

    {% block body %}
      {% include "includes/header.jinja" %}
      {% block main %}
        {% block content %}
        {% endblock content %}
      {% endblock main %}
    {% endblock body %}
