{% extends "admin_form_base.jinja" %}
{% import 'macros.jinja' as macros %}

{%- block header_title -%}
Update Application Status for {{ submission.get_full_name() }}
{%- endblock header_title -%}

{% block form %}

{% include "includes/minimal_latest_status_line.jinja" %}

<form id="create-status-form" method="POST" action="{{ url('intake-create_status_update', submission_id=submission.id ) }}">
  {% include "includes/csrf_field.jinja" %}
  {{ macros.render_form_fields(form) }}
  <p>
    <input type="submit" value="Next" class="btn btn-lg btn-primary">  
  </p>
</form> 
{% endblock form %}