<table class="table applications_list followups">
<tr>
  <th>ID</th>
  <th>Received</th>
  <th>Name</th>
  <th>Contact</th>
  <th>Orgs & Statuses</th>
  {%- if perms.intake.view_application_note %}
  <th>Notes</th>
  <th>Tags</th>
  {%- endif %}
</tr>
{% include "followup_list_rows.jinja" %}
</table>