    <header class="main-header">
      <div class="toolbar">
        <div class="toolbar__left">
            <h1 class="main-header__title">
              <a class="main-header__logo" href="{{ url('intake-home') }}">Clear My Record</a>
            </h1>
        </div>
      </div>
    </header>