<footer class="main-footer">
  <div class="grid">
    <div class="grid__item width-one-whole with-padding-med">
      <div class="main-footer__legal">
        <div class="grid">
          <div class="grid__item width-one-third with-padding-small">
            <p>Contact Us</p>
            <p>(415) 301-6005</p>
            <p><a class="link--subtle" href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a></p>
          </div>
          <div class="grid__item width-one-fourth with-padding-small">
            <p><a class="link--subtle" href="{{ url('partnerships-home') }}">Partner with us</a></p>
            <p><a class="link--subtle" href="{{ url('intake-privacy') }}">Privacy policy</a></p>
            <p><a class="link--subtle" href="{{ url('intake-partner_list') }}">County contact list</a></p>
          </div>
          <div class="grid__item width-one-fourth with-padding-small">
            <p><a class="link--subtle" href="{{ url('intake-recommendation_letters') }}">Letters of recommendation</a></p>
            <p><a class="link--subtle" href="{{ url('intake-personal_statement') }}">Personal statement</a></p>
            <p><a class="link--subtle" href="{{ url('intake-rap_sheet') }}">Request RAP sheet</a></p>
          </div>
          <div class="grid__item width-one-twelfth with-padding-small">
            <p><a class="link--subtle" href="{{ url('user_accounts-login') }}">Sign in</a></p>
          </div>
        </div>{# end internal grid for top row of footer #}
      </div>
    </div> 
  </div>{# end grid for top row of footer #}

  <div class="grid with-padding-med">
    <div class="grid__item width-one-third">
      <div class="illustration illustration--cfa-logo-black"></div>
    </div>
    <div class="grid__item width-two-thirds">
      <p class="text--small">Clear My Record is a free, nonprofit service delivered by
      <a class="link--subtle" href="https://codeforamerica.org">Code for America</a>
      for people with a criminal record in counties in California. <br>
      We are not a law firm and the information on this site is not legal advice.</p>
    </div>
  </div>
</footer>