{% extends "base.jinja" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static('intake/css/cfa.css') }}">
{% endblock css %}


{% block body_class %}cfa-style{% endblock body_class %}

{% block body %}
{% endblock body %}