{% extends "public_base.jinja" %}

{% block above_the_fold %}
<section class="splash above_the_fold">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6">
      {% include "includes/public_topbar.jinja" %}
      </div>
    </div>

      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <h1 class="main_headline new_section">
            {{ content.main_headline }}
          </h1>

          <h2 class="subheadline">
            {{ content.subheadline }}
          </h2>

          <p class="call_to_action_time">
            {{ content.call_to_action_time }}
          </p>

          <div class="row">
            <div class="col-md-4 col-sm-5">
              <a href="#learn_more_section" class="btn btn-default btn-lg call_to_action_button text-center">
                <span class="main-action-text">
                  {{ content.learn_more_button }}
                </span>
              </a>
            </div>

            <div class="col-md-6 col-sm-7">
              <a href="{{ url('intake-apply') }}" class="btn btn-primary btn-lg call_to_action_button text-center">
                <span class="main-action-text">
                  {{ content.call_to_action_button }}
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="row credibility_note">
        <div class="col-xs-12 col-sm-8 col-md-5">
          <p class="small">{{ linkify(content.credibility_note) }}</p>
        </div>
      </div>

  </div>
</section>

{% endblock above_the_fold %}
{% block content %}

<section class="about_the_service">
  

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="benefits_healine new_section" id="learn_more_section" name="learn_more_section">{{ content.journey_headline }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="apply_steps">
        <div class="col-xs-12 col-md-3-33">
          <div class="step">
            <h4 class="step_headline">{{ content.step_1_headline }}</h4>
            <p class="step_paragraph">{{ content.step_1_paragraph }}</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-1">
          <h1 class="step-arrow">
            <span class="glyphicon glyphicon-arrow-right visible-md visible-lg" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down visible-xs visible-sm" aria-hidden="true"></span>
          </h1>
        </div>

        <div class="col-xs-12 col-md-3-33">
          <div class="step">
            <h4 class="step_headline">{{ content.step_2_headline }}</h4>
            <p class="step_paragraph">{{ content.step_2_paragraph }}</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-1">
          <h1 class="step-arrow">
            <span class="glyphicon glyphicon-arrow-right visible-md visible-lg" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down visible-xs visible-sm" aria-hidden="true"></span>
          </h1>
        </div>

        <div class="col-xs-12 col-md-3-33">
          <div class="step">
            <h4 class="step_headline">{{ content.step_3_headline }}</h4>
            <p class="step_paragraph">{{ content.step_3_paragraph }}</p>
          </div>
        </div>
      </div>
    </div>

<!-- 
    <div class="row">
      <div class="col-xs-12">
        <h2 class="eligibility_headline new_section">{{ content.eligibilty_headline }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="eligibility_info">

        <div class="yes_qualify">
          <div class="col-xs-12 col-md-7">
            <h4 class="eligibility-list-header">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              You might qualify
            </h4>
            <div class="col-xs-12 col-sm-7">
              <ul class="eligibility_list">
                <li>Drug possession</li>
                <li>Petty theft under $950</li>
                <li>Shoplifting under $950</li>
                <li>Forgery under $950</li>
                <li>Receipt of stolen property under $950</li>
                <li>Writing a bad check under $950</li>
                <li>Drunk driving</li>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <ul class="eligibility_list">
                <li>Theft</li>
                <li>Prostitution</li>
                <li>Burglary</li>
                <li>Drug offenses</li>
                <li>Assault and battery</li>
                <li>Robbery</li>
                <li>Domestic violence</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="no-qualify">
          <div class="col-xs-12 col-md-4 col-md-offset-1">
            <h4 class="eligibility-list-header">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              You do not qualify
            </h4>
            <div class="col-xs-12 col-sm-12">
              <ul class="eligibility_list">
                <li>Convicted of murder</li>
                <li>Convicted of rape or child molestation</li>
                <li>On the sex offender registry</li>
                <li>Convicted of any superstrikes</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
 -->
    <div class="row">
      <div class="apply_backup">
        <div class="col-xs-12 col-centered">
          <h2 class="backup_apply_headline new_section">{{ content.backup_apply_headline }}</h2>
          <a href="{{ url('intake-apply') }}" class="btn btn-primary btn-lg call_to_action_button">
            <span class="main-action-text">
              {{ content.call_to_action_button }}
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="who_we_are new_section">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="gov_service">
          <h2 class="gov_service_name">
            {{ content.gov_service_name }}
          </h2>
          <p class="gov_service_description_1)">
            {{ content.gov_service_description_1 }}
          </p>

          <p class="gov_service_description_2)">
            {{ content.gov_service_description_2 }}
          </p>
        </div>

        <div class="contact_info">
          <h2>{{ content.contact_headline }}</h2>
          <ul>
            <li>Email: {{ linkify(content.contact_email) }}</li>
            <li>Phone: {{ linkify(content.contact_phone) }}</li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="team_faces">

          <h2>We will be helping you apply</h2>
          <div class="team_face_row">
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <div class="cfa-staff" id="jazmyn-circle"></div>
              </div>

              <div class="col-xs-8 col-sm-9">
                <h4>Jazmyn Latimer</h4>
                <p>Code for America</p>
              </div>
            </div>
          </div>

          <div class="team_face_row">
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <div class="cfa-staff" id="ben-circle"></div>
              </div>

              <div class="col-xs-8 col-sm-9">
                <h4>Ben Golder</h4>
                <p>Code for America</p>
              </div>
            </div>
          </div>

          <div class="team_face_row">
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <div class="cfa-staff" id="tiffany-circle"></div>
              </div>

              <div class="col-xs-8 col-sm-9">
                <h4>Tiffany Andrews</h4>
                <p>Code for America</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="apply_backup_2">
        <div class="col-xs-12 col-centered">
          <h2 class="time_expectation new_section">{{ content.time_expectation}}</h2>
          <a href="{{ url('intake-apply') }}" class="btn btn-primary btn-lg call_to_action_button">
            <span class="main-action-text">
              {{ content.call_to_action_button }}
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>


{% endblock content %}

