{% extends "gcf_style_base.jinja" %}


{% block body_class %}main-landing{% endblock body_class %}

{% block content %}

    <section class="slab slab--header slab--white">
      {# main slab #}
      <div class="grid">
        <div class="grid__item width-one-half with-non-mobile-top-padding-large">
          <h1>Reduce or dismiss your convictions</h1>
          <p class="with-padding-med">
            Take the first step in just 10 minutes
          </p>
          <a id="apply-now" href="{{ url('intake-apply') }}" class="button button--primary">
            Start now
            <i class="icon icon-arrow_forward"></i>
          </a>
        </div>
        <div class="grid__item width-five-twelfths is-mobile-hidden">
          <div class="illustration illustration--ladders"></div>
        </div>
      </div>
    </section>
    

    <section class="slab slab--padded">
      <div class="grid">
        <div class="grid__item width-five-twelfths with-padding-large">
          <p>Clearing your record can help remove barriers to new jobs, housing, and educational opportunities.</p>
          <p>Clear My Record is a free, nonprofit, service for people with a criminal record in select California counties.</p>
        </div>
        <div class="grid__item width-one-half shift-one-twelfth">
          {% include "includes/county-seals.jinja" %}
          <p>
            <a href="{{ url('intake-partner_list') }}">See our full list of available counties</a>
          </p>
        </div>
      </div>
    </section>

    <section class="slab slab--padded slab--white">
      <div class="grid">
        <div class="grid__item width-one-whole with-padding-large">
          <h2 class="text--centered with-padding-med">Why should you apply?</h2>
        </div>

      <div class="grid text--centered">
        <div class="grid__item width-one-fourth with-padding-med">
          <div class="illustration illustration--ca"></div>
          <p>
            You can apply to clear multiple California convictions at once
          </p>
        </div>
        <div class="grid__item width-one-fourth with-padding-med">
          <div class="illustration illustration--job_search"></div>
          <p>
            Clearing your record opens doors to jobs, housing, and education
          </p>
        </div>
        <div class="grid__item width-one-fourth with-padding-med">
          <div class="illustration illustration--10_minutes"></div>
          <p>
            Our short, easy-to-understand application only takes 10 minutes
          </p>
        </div>
        <div class="grid__item width-one-fourth with-padding-med">
          <div class="illustration illustration--speech_bubbles"></div>
          <p>
            The Clear My Record team is here to support you through the process
          </p>
        </div>
      </div>
    </section>

    <section class="slab slab--padded text--centered">
      <div class="grid">
        <div class="grid__item width-one-whole with-padding-large">
          <h2>
            Apply in three easy steps
          </h2>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item width-one-third with-padding-med">
          <h4>
            Application
          </h4>
          <p>
            Fill out the online application so attorneys can understand your history and collect your contact information.
          </p>
        </div>
        <div class="grid__item width-one-third with-padding-med">
          <h4>
            Eligibility and next steps
          </h4>
          <p>
            In about 4 weeks, you’ll hear from each county. They’ll tell you what you qualify for and your next steps.
          </p>
        </div>
        <div class="grid__item width-one-third with-padding-med">
          <h4>
            Receive decision
          </h4>
          <p>
            Attorneys will ask the court to clear your record and update you with the final decision and official documents.
          </p>
        </div>
      </div>
    </section>

    <section class="slab slab--padded slab--white">
      <div class="grid">
        <div class="grid__item width-one-whole text--centered">
          <h3 class="with-padding-med">
            If you have convictions in California, you're probably eligible
          </h3>
          <a href="{{ url('intake-apply') }}" class="button button--primary">
            Get started today
            <i class="icon icon-arrow_forward"></i>
          </a>
        </div>
      </div>
    </section>

{% endblock content %}
