{% extends "base.html" %}

{% block body %}

<section class="splash above_the_fold">
  <div class="container">

  {% include "includes/splash_header.html" %}

      {% block main %}
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <h1 class="main_headline new_section">
            {{ content.main_headline }}
          </h1>

          <h2 class="subheadline">
            {{ content.subheadline }}
          </h2>

          <p class="call_to_action_time">
            {{ content.call_to_action_time }}
          </p>

          <div class="row">
            <div class="col-md-4 col-sm-5">
              <a href="#learn_more_section" class="btn btn-default btn-lg call_to_action_button text-center">
                <span class="main-action-text">
                  {{ content.learn_more_button }}
                </span>
              </a>
            </div>

            <div class="col-md-6 col-sm-7">
              <a href="/sanfrancisco/" class="btn btn-primary btn-lg call_to_action_button text-center">
                <span class="main-action-text">
                  {{ content.call_to_action_button }}
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="row credibility_note">
        <div class="col-xs-12 col-sm-8 col-md-5">
          <p class="small">{{ linkify(content.credibility_note) }}</p>
        </div>
      </div>

      {% endblock main %}
  </div>
</section>

<section class="about_the_service">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-7">
        <div class="gov_service new_section" id="learn_more_section" name="learn_more_section">
          <h2 class="gov_service_name">
            {{ linkify(content.gov_service_name) }}
          </h2>
          <p class="gov_service_description">
            {{ content.gov_service_description }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="journey_steps new_section">
          <h2 class="journey_headline">{{ content.journey_headline }}</h2>
          <div class="step">
            <p class="step_paragraph"> <strong>{{ content.step_1_headline }}</strong> {{ content.step_1_paragraph }}</p>
          </div>
          <div class="step">
            <p class="step_paragraph"> <strong>{{ content.step_2_headline }}</strong> {{ content.step_2_paragraph }}</p>
          </div>
          <div class="step">
            <p class="step_paragraph"> <strong>{{ content.step_3_headline }}</strong> {{ content.step_3_paragraph }}</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2">
        <div class="contact_info new_section">
          <h2>{{ content.contact_headline }}</h2>
          <ul>
            <li>Email: {{ linkify(content.contact_email) }}</li>
            <li>Phone: {{ linkify(content.contact_phone) }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="time_expectation">
          <h2>{{ content.time_expectation }}</h2>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="apply_backup new_section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="backup_apply_headline">{{ content.backup_apply_headline }}</h2>
        <a href="/sanfrancisco/" class="btn btn-primary btn-lg call_to_action_button text-center">
          <span class="main-action-text">
            {{ content.call_to_action_button }}
          </span>
        </a>
        <ul class="opportunities">
          <li class="opportunity">{{ content.opportunity_1 }}</li>
          <li class="opportunity">{{ content.opportunity_2 }}</li>
          <li class="opportunity">{{ content.opportunity_3 }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% include "includes/footer.html" %}

{% endblock body %}


{% block scripts %}
{% endblock %}
