{% extends "public_base_single_column.jinja" %}


{%- block header_title -%}
{{ organization.name }}
{%- endblock header_title -%}

{%- block section_class %}partners{% endblock section_class -%}

{% block column_content %}
<p>
  The
  {{ organization.name }}
  {{ _("takes applications in") }}
  {{ organization.county.name }}
  {{ _("County") }}
</p>

<p>{{ organization.blurb }}</p>

<h3>Get in touch with the {{ organization.name }}</h3>

<h4>Website</h4>
<p>
  <a href="{{ organization.website }}">
    {{ organization.website }}
  </a>
</p>

<h4>Email</h4>
<p>
  <a href="mailto:{{ organization.email }}">
    {{ organization.email }}
  </a>
</p>

<h4>Phone Number</h4>
<p>
  <a href="tel:{{ organization.phone_number }}">
    {{ organization.phone_number }}
  </a>
</p>

<h4>Address</h4>
<p>
  <pre class="address">{{ organization.address }}</pre>
</p>



{% endblock column_content %}