{% extends "public_base_single_column.jinja" %}


{%- block header_title -%}
{{ organization.name }}
{%- endblock header_title -%}

{%- block section_class %}partners{% endblock section_class -%}

{% block column_content %}

<p>{{ organization.blurb }}</p>

<div class="data_display-row">
    {{ display_form.website_display }}
</div>


  <div class="data_display-row">
      {{ display_form.email_display }}
  </div>

  <div class="data_display-row">
      {{ display_form.phone_number_display }}
  </div>

{% endblock column_content %}