{% extends "base.html" %}

{% block body %}
<section class="privacy above_the_fold">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col_centered">
        {% include "includes/splash_header.html" %}
        <h1>
        Privacy Policy
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="privacy content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6  col_centered">
          <p>{{ 'Clear My Record is a non-profit website run by Code for America Labs, Inc. ("Code for America", "we", "us", "our"). This Privacy Policy describes how the Clear My Record website (the "Site") collects, uses, and protects your personal information. By submitting your personal information on the Site, you agree to the terms in this Privacy Policy. If you do not agree with these terms, please do not use the Site. You can go to http://www.safeandjust.org/county-map/ to learn about other local programs to change your record.'|urlize }}</p>

          <h2>
          Overview
          </h2>

          <p>
          We will only use your personal information to help you get help with applying for dismissal and reclassification remedies in San Francisco County and any other counties that you apply for on future versions of the Site (“Clear My Record” herein refers to all such programs).
          </p>

          <p>We will not knowingly disclose or sell your personal information to any third party, except as provided in this privacy policy.</p>
          <p>We will take all reasonable measures to protect your personal information.</p>

          <h2>The personal information we collect</h2>

          <p>We collect all information that you provide through the Site, including your name, address, contact information, date of birth, and similar information that you include on your Change My Record inquiry.</p>
          <p>In addition to the information you provide, we automatically collect and store information about your visit to the Site:</p>

          <ul>
            <li>Domain from which you access the Internet</li>
            <li>IP address (an IP or internet protocol address is a number that is automatically given to a computer connected to the Web)</li>
            <li>Operating system on your computer and information about the browser you used when visiting the site</li>
            <li>Date and time of your visit</li>
            <li>Pages you visited</li>
            <li>Address of the website that connected you to the Site (such as google.com or bing.com)</li>
          </ul>

          <p>We use this information to understand how the Site is used, improve the Site, and monitor usage for security purposes. This data is stored separately from the personal information you submit in the Clear My Record inquiry.</p>
          <p>We will not collect personal information from you without your knowledge and consent, except in a few limited circumstances as described in this policy.</p>
          <p>We currently retain all data indefinitely unless you specifically request that we delete it. You can make this request by emailing us at <a href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a>.</p>

          <h2>How we use your information</h2>
          <p>We only use your personal information to help you inquire about clearing your record.. For example:</p>
          <ul>
            <li>We submit your Clear My Record inquiry to the appropriate legal assistance in your County.</li>
            <li>We send you a confirmation message of your Clear My Record inquiry, depending on your contact preferences.</li>
            <li>We may provide ongoing support to help you clear your record by reminding you of follow-up steps.</li>
            <li>We will not email you unless you consent to email communication in the application or you email us first, and every automated email will include a link to unsubscribe. We will not send you a text message unless you consent to text message communication in the application and you can reply 'STOP' to any text message to unsubscribe.</li>
          </ul>


          <h2>How we share your information</h2>
          <p>Once you submit your Clear My Record inquiry on the Site, we share this information with the Public Defender in the County where you would like to clear an old conviction. Each California County has their own Public Defender, which processes applications to clear criminal records. Once your personal information is received by the Public Defender it is then subject to their respective privacy policies. All California Public Defenders are listed here: <a href="http://www.cpda.org/County/CountyPDWebSites.html">http://www.cpda.org/County/CountyPDWebSites.html</a></p>
          <p>We also disclose your personal information to Code for America employees, contractors, and affiliated organizations that need to know the information in order to provide the services of the Site.</p>
          <p>Besides County Public Defenders and individuals affiliated with the Site, we do not share your personal information with any other individuals or organizations, except to the minimal extent required by law.</p>

          <h2>How we protect your information</h2>
          <p>Protecting your personal information is extremely important to us and we take all reasonable measures to do so. Here are some specific security practices we use:</p>
          <ul>
            <li>When you enter your information on our site we encrypt the transmission of that information using transport layer security (TLS).</li>
            <li>We store your personal information on Heroku, which is a trusted third party service designed for holding sensitive information.</li>
            <li>Although we try our best to protect the privacy of your personal information, we cannot guarantee complete security. The transmission of information via the Internet is not completely secure. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.</li>
          </ul>

          <h2>Changes</h2>
          <p>We may change this Privacy Policy from time to time. Please check this page frequently for updates as your continued use of this site after any changes in this Privacy Policy will constitute your acceptance of the changes.</p>

          <h2>Effective Date</h2>
          <p>This version of the policy is effective March 18, 2016.</p>

          <h2>Questions</h2>
          <p>If you have any questions, comments, concerns, or complaints with the Site, please contact us.</p>
          <ul>
            <li>Email: {{ linkify(content.contact_email) }}</li>
            <li>Phone: {{ linkify(content.contact_phone) }}</li>
            <li>Mail:
              <address>
              Clear My Record<br>
              155 9th Street<br>
              San Francisco, CA 94103</p>
              </address>
            </li>
          </ul>

          

          <p>We will do our best to resolve the issue.</p>
      </div>
    </div>
  </div>
</section>




{% include "includes/footer.html" %}
{% endblock %}
