{% extends "cmr_base.jinja" %}

{% block social_meta %}
  {% include "includes/social_meta.jinja" %}
{% endblock social_meta %}

{%- block body_class -%}{%- endblock body_class -%}

{% block body %}

  {% block above_the_fold %}
  <section class="thanks above_the_fold">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col_centered">
        {% include "includes/public_topbar.jinja" %}
        {%- block header_content %}
          <h1>
            {%- block header_title -%}
            {%- endblock header_title -%}
          </h1>
        {%- endblock header_content %}
        </div>
      </div>
    </div>
  </section>
  {% endblock above_the_fold %}
  {% block main %}
    {% block county_scope %}
    {% endblock county_scope %}
    {% block flash_messages %}
    <section class="messages">
      {% include "includes/public_flash_messages.jinja" %}
    </section>
    {% endblock flash_messages %}
    {% block content %}
    {% endblock content %}
  {% endblock main %}
  {% include "includes/footer.jinja" %}
{% endblock body %}
{% block scripts %}
  {% block jsons %}{% endblock jsons %}
  {% include "includes/google_analytics.jinja" %}
  {% include "includes/mixpanel.jinja" %}
  {% block main_script %}
  {% endblock main_script %}
{% endblock scripts %}