{% extends "public_base_single_column.jinja" %}
{%- block section_class %}application_form{% endblock section_class -%}
{% block column_content %}
	{% block public_form %}
	{% endblock public_form %}
{% endblock column_content %}