{% extends "public_base_single_column.jinja" %}


{%- block header_title -%}
{{ _("Next steps") }}
{%- endblock header_title -%}

{%- block section_class %}thanks{% endblock section_class -%}

{% block column_content %}
  {%- for organization in organizations %}
  <p class="next_step {{ organization.slug }}">
    {{ linkify(organization.new_submission_confirmation_message) }}
  </p>
  {%- endfor %}

<p>{{ _("East Bay Community Law Center needs your California criminal record (RAP sheet) to check what you qualify for. Follow the steps below to get your RAP sheet and send it to East Bay Community Law Center to complete your application.") }}</p>

<h2>{{ _("Follow these steps to get your RAP sheet:") }}</h2>

<ol class="rap_sheet_instructions">
  <li>
    {{ _("You have to get your fingerprints taken. This is called a “Live "
      "Scan”. Find a Live Scan location near you at this website:") }}
      <a href="https://oag.ca.gov/fingerprints/locations" target="_blank">
        https://oag.ca.gov/fingerprints/locations
      </a>
  </li>
  <li>
    {{ _("Call the Live Scan location you have selected and make an "
      "appointment for a “personal record request”. Ask them how much it will "
      "cost. Even if you are approved to get $25 off your RAP sheet fees from "
      "the Department of Justice, you will still have to pay Live Scan fee.") }}
  </li>
  <li>
    {{ _("Fill out the Request for Live Scan Service form with your "
      "information.") }}
  </li>
  <li>
    {{ _("Go to the Live Scan location and give them your Request for "
      "Live Scan Service form. They will collect your payment, roll your "
      "fingerprints, and send them to the Department of Justice.") }}
  </li>
  <li>
    {{ _("Wait for a letter in the mail from the Department of Justice with "
      "your RAP sheet.") }}
  </li>
  <li>
    {{ _("When you get your RAP sheet in the mail, you are ready to complete "
      "your Clear My Record application.") }}
  </li>
  <li>
    {{ _("Complete your Clear My Record application by dropping off your RAP "
      "sheet or mailing your RAP sheet to this address:") }}
      <pre class="address">
      {%- if rap_sheet_receiving_address -%}
      {{- rap_sheet_receiving_address -}}
      {%- else %}
East Bay Community Law Center
2921 Adeline St
Berkeley CA, 94703
      {%- endif %}
      </pre>
  </li>
  <li>
    {{ _("Once East Bay Community Law Center has received your RAP sheet, you "
      "will receive a message telling you that your "
      "application is complete!") }}
  </li>
</ol>


  {%- include "includes/cmr_contact_info.jinja" %}
  {%- include "includes/back_to_home_button.jinja" %}

{% endblock column_content %}
