{% extends "public_base_single_column.jinja" %}

{%- block header_title -%}
Numbers for Clear My Record
{%- endblock header_title -%}
{%- block section_class %}stats{% endblock section_class -%}
{% block column_content %}
{% if stats.org_stats %}
{% for org_data in stats.org_stats %}
<div class="stats_block {{ org_data.org.slug }}">
  <h2>{{ org_data.org.name }}</h2>
  <div class="stats-total">
    <span class="stats-total-number">{{ org_data.total }}</span>
    <span class="stats-total-annot">applications</span>
  </div>
  <div class="stats-chart_container">
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock column_content %}
{% block jsons %}
<script type="text/json" name="applications_json">
{{- to_json(stats.org_stats) -}}
</script>
{% endblock jsons %}
{% block main_script %}
{% if stats %}
<script src="{{ static('js/admin.js')}}"></script>
{% endif %}
{% endblock main_script %}
