{% extends "public_base_single_column.jinja" %}


{% block extra_css_links %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css">
{% endblock extra_css_links %}

{%- block header_title -%}
Numbers for Clear My Record
{%- endblock header_title -%}
{%- block section_class %}stats{% endblock section_class -%}
{% block column_content %}
{% if stats.org_stats %}
<div class="stats_block">
  <h2>Weekly Application Totals</h2>
  <div id='timeSeries'></div>
</div>
<div class="stats_block">
  <h2>Cumulative Applications</h2>
  <div id='timeSeriesGrowth'></divmak>
</div>
{% for org_data in stats.org_stats %}
<div class="stats_block {{ org_data.org.slug }}">
  {% if 'drop_off' in org_data %}
  <h2>{{ org_data.org.name }}</h2>
  <div class="stats-single_figure">
    <span class="stats-total-number">{{ org_data.total }}</span>
    <span class="stats-total-annot">applications</span>
  </div>
  <div class="stats-single_figure">
    <span class="stats-total-number">{{ org_data.apps_this_week }}</span>
    <span class="stats-total-annot">this week</span>
  </div>
  <div class="stats-single_figure minutes">
    <span class="stats-total-number">{% if org_data.mean_completion_time %}{{
     (org_data.mean_completion_time / 60)|int
     }} minutes{% else %}N/A{% endif %}</span>
    <span class="stats-total-annot">mean completion time</span>
  </div>
  <div class="stats-single_figure minutes">
    <span class="stats-total-number">{% if org_data.median_completion_time %}{{
     (org_data.median_completion_time / 60)|int
     }} minutes{% else %}N/A{% endif %}</span>
    <span class="stats-total-annot">median completion time</span>
  </div>
  <div class="stats-single_figure">
    <span class="stats-total-number">{{
     (org_data.app_error_rate * 100)|round(1)
     }}<span class="perc-sign">%</span></span>
    <span class="stats-total-annot">error rate</span>
  </div>
  <div class="stats-single_figure">
    <span class="stats-total-number">{{
     (org_data.drop_off * 100)|round(1)
     }}<span class="perc-sign">%</span></span>
    <span class="stats-total-annot">dropoff rate</span>
  </div>
  {% if org_data.status_updates %}
  <div class="stats-chart">
    <table class="table">
      <thead>
        <tr>
          <th>Status Updates</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {% for bucket, count in org_data.status_updates %}
        <tr>
          <td>{{ bucket }}</td>
          <td>{{ count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if org_data.channels %}
  <div class="stats-chart">
    <table class="table">
      <thead>
        <tr>
          <th>Channel</th>
          <th>Hits</th>
          <th>Apps</th>
          <th>Apps/Hits</th>
          <th>Apps/All apps</th>
        </tr>
      </thead>
      <tbody>
        {% for datum in org_data.channels %}
        <tr>
          <td>{{ datum.channel }}</td>
          <td>{{ datum.hits }}</td>
          <td>{{ datum.apps }}</td>
          <td>{{ (datum.conversion_rate * 100)|round(1) }}<span class="perc-sign">%</span></td>
          <td>{{ (datum.percent_of_apps * 100)|round(1) }}<span class="perc-sign">%</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% endif %}
  <div class="stats-chart_container_set">
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock column_content %}
{% block jsons %}
<script type="text/json" name="applications_json">
{{ to_json(stats.org_stats) }}
</script>
{% endblock jsons %}
{% block main_script %}
{% if stats %}
  {% compress 'js' %}
    <script type="text/browserify" src="{{ static('intake/js/stats_entry.js') }}"></script>
  {% endcompress %}
{% endif %}
{% endblock main_script %}
