{% extends "public_base_single_column.jinja" %}

{%- block header_title -%}
    Changes to Clear My Record
{%- endblock header_title -%}

{%- block section_class %}sunset-notice{% endblock section_class -%}

{% block column_content %}

<section class="slab slab--header slab--white slab--not-bottom-padded">
    <div class="grid__item width-one-half with-non-mobile-top-padding-large">
        <h2>After Nov 15, 2021 we will no longer accept applications for record clearance on this site.</h2>

        <p>Read about upcoming changes to Clear My Record below.</p>

        <p><a href="#info-for-applicants">Information for people who want to clear their record</a></p>
        <p><a href="#info-for-partners">Information for our county partners</a></p>

        <hr>

        <h3 id="info-for-applicants">Information for people who want to clear their record</h3>

        <h4>We're retiring our application services on November 15th</h4>
        <p>On November 15th Clear My Record will no longer accept applications for record clearance.  Instead, this site will link you to public defenders for help in the county where you have convictions. Clear My Record will continue to be a home for helpful information about record clearance in California.</p>

        <h4>There will be no changes to services until November 15th</h4>
        <p>Please continue to apply through Clear My Record through November 15th.</p>
        <ul class="list--bulleted">
            <li>New applications will be safely routed to public defenders in each county through that time.</li>
            <li>Submitted applications will get a response by the appropriate legal aid partner.</li>
            <li>Applications processing or pending will experience no interruptions in service.</li>
        </ul>

        <h4>Why we’re retiring the service</h4>
        <p>
            Clear My Record has helped thousands of Californians connect to legal help. We are still working to expand access to record clearance, but we can no longer maintain the form on this site. Please let us know if you have any concerns and contact us at
            <a href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a>
        </p>

        <hr>

        <h3 id="info-for-partners">Information for our county partners</h3>

        <h4>Our plans</h4>
        <p>We are changing Clear My Record to be an informational website with links to county public defender record clearance services.</p>
        <ul class="list--bulleted">
            <li>After November 15th, clients will no longer be able to submit applications and we’ll link clients to county public defender websites for help with record clearance services.</li>
            <li>After Dec 15, county partners will not be able to manage applications through Clear My Record but we will work with county partners to securely transfer all historical data and applications in-progress.</li>
        </ul>

        <h4>Why we're retiring the service</h4>
        <p>Clear My Record needs a major upgrade and we can no longer maintain the form on this site. To continue the service we’d need to replace the form and invest more resources than we can afford.</p>

        <h4>Share your thoughts</h4>
        <p>We remain committed to expanding record clearance in California and know this work is a valuable part of our current legal system. We want to listen and support your work as we retire the form and case management feature and add more helpful information and a link to your web site.</p>
        <p>
            Also, we are happy to advise your office on a replacement for Clear My Record.  Please reach out to us at
            <a href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a>
            for more information or to schedule a phone call.
        </p>


        <hr>

        <h3>Contact us</h3>

        <p>You can use the contact information below to reach out with your thoughts and questions.</p>
        <p><a href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a></p>
        <p>
            Phone number
            <br>
            <a href="tel:+15102687400">510-268-7400</a>
        </p>

    </div>

</section>


{% endblock column_content %}
