{% extends "public_base_single_column.jinja" %}


{%- block header_title -%}
{{ _("Thank you") }}
{%- endblock header_title -%}

{%- block section_class %}thanks{% endblock section_class -%}

{% block column_content %}
  {%- for county in counties %}
  <p class="next_step {{ county.slug }}">
    {{ intake_constants.CONFIRMATION_MESSAGES[county.slug] }}
  </p>
  {%- endfor %}

  <p>
    {{ _("If you have any questions or concerns, please email us at") }}
    <a href="mailto:clearmyrecord@codeforamerica.org">clearmyrecord@codeforamerica.org</a> 
    {{ _("or text us at") }}
    <a href="tel:14156259633">(415) 625-9633</a>.
  </p>


  <div class="back_home_btn">
    <a href="{{ url('intake-home') }}" class="btn btn-default btn-lg call_to_action_button">
      <span class="main-action-text">
        {{ content.back_home_btn }}
      </span>
    </a>
  </div>
  
{% endblock column_content %}