{% extends "public_base_single_column.jinja" %}


{%- block header_title -%}
{{ _("Thank you") }}
{%- endblock header_title -%}

{%- block section_class %}thanks{% endblock section_class -%}

{% block column_content %}
  {%- for organization in organizations %}
  <p class="next_step {{ organization.slug }}">
    To help you with {{ organization.county.name }} County, we sent your application to the {{ linkify(organization.name) }}.
    {{ organization.long_confirmation_message }}
  </p>
  {%- endfor %}

  <p>{{ _("We will follow up with you in about 4 weeks to make sure things are going okay.") }}</p>

  <p>
    {{_("If you have any questions or concerns, please email us at")}}
    {{ linkify(content.cmr_email) }} 
    {{ _("or text us at")}}
    {{ linkify(content.cmr_phone_number) }} 
  </p>

  <div class="back_home_btn">
    <a href="{{ url('intake-home') }}" class="btn btn-default btn-lg call_to_action_button">
      <span class="main-action-text">
        {{ content.back_home_btn }}
      </span>
    </a>
  </div>
  
{% endblock column_content %}