.admin {
	section.content > .container:first-child {
		padding-top: 0;
	}
	.action_bar {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}
.page_nav_header {
	margin: 0;
	font-weight: inherit;
}
.pagination-nav{
	float: right;
}
ul.pagination {
	margin-top: .5em;
}
table.followups {
	font-size: 0.8em;
	input[type="text"], button[type="submit"] {
		font-size: 1em;
		line-height: 1.4em;
		padding: .3em .6em;
	}
	input[type="text"], .autocomplete-result {
		width: 20em;
	}
	input[type="text"] {
		font-weight: 400;
		display: inline-block;
		border: 1px solid #ccc;
		border-right: 0px;
	}
	button[type="submit"] {
		margin: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}
.org_tag {
	width: 50%;
    padding: 0.5em;
    text-align: left;
	font-size: 0.7em;
	text-transform: uppercase;
}
table.table tr > td.org_tags {
	width: 6em;
	line-height: 0.9em;
}
.applications_list {
	.notes_log, .tags-input_module {
		font-size: 0.75em;
		width: 28em;
	}
	td.notes_log-cell { padding: 0; }
	.note {
		padding: 0.25em 0;
		margin: 0.5em 0 0 0;
		border-top: 1px solid #ccc;
	}
	.note > * {
		display: inline-block;
		vertical-align: top;
		line-height: 1rem;
	}

	.note-time {
		width: 4.4em;
	}
	.note-body {
		width: 13em;
		padding: 0 .35em;
	}

	.note-author {
		width: 4em;
	}
	div.note-remove > button.btn {
		font-size: 0.9em;
		color: #ccc;
		border-color: #ccc;
		padding: .2em .4em;
		margin: 0 0.4em;
		&:hover {
			color: #fff;
			border-color: @brand-danger;
			background-color: @brand-danger;
		}
		.glyphicon {
			margin: 0;
		}
	}
	ul.tags-autocomplete_results, ul.applicants-autocomplete_results {
		margin: 0;
		padding: 0;
		position: absolute;
		background-color: #fff;
		font-size: inherit;
		margin-top: 1px;
		max-height: 20em;
		overflow-y: scroll;
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
		z-index: 10;
	}
	li.autocomplete-result.active {
		color: #fff;
		background-color: @brand-note;
	}
	li.autocomplete-result {
		padding: .2em .6em;
		border-left: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		cursor: pointer;
		.result-match {
			font-weight: 700;
		}
	}
	.tags {
		padding: 0 0 0.5em 0;
	}
	span.tag.label {
		display: inline-block;
		background-color: lighten(@brand-note, 45%);
		padding: 0.4em 0.6em;
		border-radius: 1em;
		margin-right: .1em;
		margin-bottom: 0.2em;
		.glyphicon-remove-sign {
			cursor: pointer;
		}
	}
	span.tag.label.danger {
		background-color: @brand-danger;
		color: #fff;
	}
}
.outgoing-transfer {
	color: #888;
}
.incoming-transfer-note {
	font-size: 0.9em;
	font-style: italic;
}

.app-detail-nav-bar {
	overflow: auto;
	position: relative;
	margin-top: 1em;
}

.app-detail-nav-bar ul {
	padding: 0;
}
.app-detail-nav-bar li {
	display: inline-block;
	a {
		display: inline-block;
		padding: 1em 1em 0em 1em;
	}
}

.app-detail-nav-bar li.active a {
	color: black;
}
.app-detail-nav-bar hr {
	margin-top: 0.75em;
	margin-bottom: 0;
	border-top-width: 3px;
}

.update-status-button {
	position: absolute;
	right: 0;
	top: 0;
}

.action_bar h1 {
	overflow: auto;
	position: relative;
}
.action_bar a.btn {
	position: absolute;
	right: 0;
}