As of {{ current_local_time('%-I:%M %p %Z on %A %b %-d') }}, you have 
{%- if count == 1 %} one unopened application{% else %} {{ count }} unopened applications
{%- endif %} to Clean Slate.

You can review and print them at this link:
    {{
    settings.DEFAULT_HOST + url_with_ids(
    	'intake-app_bundle', submission_ids)
    }}

If you have any questions or concerns, email us at clearmyrecord@codeforamerica.org and Jazmyn or Ben will get back to you right away.

Best,

Ben Golder
831-420-7603
bgolder@codeforamerica.org

Jazmyn Latimer
805-201-8509
jazmyn@codeforamerica.org

Tiffany Andrews
tandrews@codeforamerica.org