As of {{ current_local_time('%-I:%M %p %Z on %A %b %-d') }}, {{ org_name }} has
{%- if unread_count == 1 %} one unread application{% else %} {{ unread_count }} unread applications
{%- endif %} to Clear My Record.

You can review and print them at this link:
    {{ unread_redirect_link }}

There are also {{ update_count }} applications awaiting a status update. You can review them at this link: 
	{{ needs_update_redirect_link }}

You may also review all {{ all_count }} applications at this link:
	{{ all_redirect_link }}

If you have any questions or concerns, email us at clearmyrecord@codeforamerica.org and we will get back to you right away.

Best,

Sarah White
sarah@codeforamerica.org

Tiffany Andrews
tandrews@codeforamerica.org
