Hi {{ name|safe }},

Thanks for applying online to Clear My Record. Since you applied for help in {{ oxford_comma(county_names)|safe }}, we are sending your application to {{ oxford_comma(organizations)|safe }}

{% for step in next_steps %}{{ step|safe }}

{% endfor -%}
We’ll follow up with you in about 4 weeks to make sure things are going okay.

Take care,

{{ staff_name|safe }} at Clear My Record