Hi {{ name|safe }},

Thanks for applying online to Clear My Record.
{%- if organizations %} Since you applied for help in {{ oxford_comma(county_names)|safe }}, we are sending your application to {{ oxford_comma(organizations)|safe }}.{% endif %}
{% for step in next_steps %}{{ step|safe }}{% endfor %}
{% if unlisted_counties %}
Next steps for {{ unlisted_counties|safe }}:
We will contact you in the next week with information on how to clear your record in {{ unlisted_counties|safe }}
{%- endif %}

Take care,
{{ staff_name|safe }} at Clear My Record