Hi {{ name }},

Thanks for applying online to Clear My Record. Since you applied for help in {{ oxford_comma(county_names) }}, we are sending your application to {{ oxford_comma(organizations) }}

{% for step in next_steps %}{{ step }}

{% endfor -%}
We’ll follow up with you in about 4 weeks to make sure things are going okay.

Take care,

{{ staff_name }} at Clear My Record