An applicant's information has been updated in Clear My Record. You may want to update your 

Updated by {{ editor_email }}
Link to application {{ app_detail_url }}

{{ safe_data_diff }}

{{ unsafe_changed_keys }}