Hello again {{ name|safe }},

This is {{ staff_name|safe }} from Clear My Record. You applied online about one month ago for help in {{ counties_applied_to|safe }} and we sent your application to {{ oxford_comma(organization_names)|safe }}. I'm just checking to see how things are going.

{% for followup_message in followup_messages -%}
{{ followup_message|safe }}
{% endfor %}
Best,

{{ staff_name|safe }} at Clear My Record